Assembly-CSharp.csproj
Assembly-CSharp-vs.csproj
Assembly-UnityScript.unityproj
Assembly-UnityScript-vs.unityproj

UnityAppExample/*.sln
UnityAppExample/*.csproj
*.opensdf
/.DS_Store
*obj/
Temp
Debug/
Release/
/build/

UnityAppExample/Library/

*.meta
!/UnityAppExample/Assets/Prefabs/**/*.meta
!/UnityAppExample/Assets/Scripts/**/*.meta
!UnityAppExample/Assets/Resources/**/*.meta

*.suo

#temp

#/Assets/Resources/Materials

